<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="../static/css/styles.css">
<title>Der Gesundheitstimer</title>
</head>
<body>

<h1>Der Gesundheitstimer</h1>
<p></p>
<table style="width:30%">
    <tr>
      <th>Zeit</th>
      <th>Füllstand</th>
      
    </tr>
    <tr>
      <td>10:00</td>
      <td>1,0l</td>
      
   </tr>
    <tr>
      <td>10:30</td>
      <td>0,8l</td>
   
    </tr>
    <tr>
      <td>11:00</td>
      <td>0,5l</td>  
    </tr>
    <tr>
      <td>11:30</td>
      <td>0,2l</td>  
    </tr>
    <tr>
      <td>12:00</td>
      <td>0,0l</td>
   
    </tr>
    
      <td>12:30</td>
      <td>0,0l</td>  
    </tr>
  </table>
  
  <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Bereits getrunken',      90],
          ['Trinkziel',     10],
         
        ]);

        var options = {
          title: '',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
   <div class="obenrechts"><div id="donutchart" style="width: 800px; height: 450px;"></div></div>
    
  </body>
</html>
</body>
</html>

