<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="../static/css/styles.css">
<title>Der Gesundheitstimer</title>
</head>
<body>

<h1>Der Gesundheitstimer</h1>
<p></p>
<table style="width:30%">
    <tr>
      <th>Zeit</th>
      <th>Füllstand</th>
      
    </tr>
    <tr>
      <td>10:00</td>
      <td>1,0l</td>
      
   </tr>
    <tr>
      <td>10:30</td>
      <td>0,8l</td>
   
    </tr>
    <tr>
      <td>11:00</td>
      <td>0,5l</td>  
    </tr>
    <tr>
      <td>11:30</td>
      <td>0,2l</td>  
    </tr>
  </table>
</body>
</html>
